server:
    port: 8080

spring:
    application:
        name: user-service
    datasource:
        url: jdbc:postgresql://localhost:5434/users_db
        username: user
        password: password
        driver-class-name: org.postgresql.Driver
    flyway:
        enabled: true
        baseline-on-migrate: true
        locations: classpath:db/migration

