server:
    port: 0

spring:
    application:
        name: trip-service
    datasource:
        url: jdbc:postgresql://trips_db:5433/trips_db 
        username: user
        password: password
        driver-class-name: org.postgresql.Driver
    flyway:
        enabled: true
        baseline-on-migrate: true
        locations: classpath:db/migration

