server:
    port: 0

spring:
    application:
        name: trip-service
    datasource:
        url: jdbc:postgresql://trips_db:5433/trips_db 
        username: user
        password: password
        driver-class-name: org.postgresql.Driver
    flyway:
        enabled: true
        baseline-on-migrate: true
        locations: classpath:db/migration
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true
    
    kafka:
        bootstrap-servers: localhost:9092
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.apache.kafka.common.serialization.StringSerializer
        consumer:
            group-id: trip-service
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            auto-offset-reset: earliest
  
    data:
        redis:
          host: localhost
          port: 6379
          timeout: 2000ms

